.todo-title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #2c2c2c;
}

.todo-row {
  display: flex;
  align-items: center;
  justify-content: space-between; /* THIS is key */
  padding: 0.75rem 1rem;
  border-radius: 12px;
  background: #1678db31;
  margin-bottom: 12px;
}

.todo-item {
  display: flex;
  width: fit-content;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  background: #f8f9fa;
  margin-bottom: 10px;
  transition: all 0.2s ease;
  word-break: break-word
}

.todo-item:hover {
  background: #e9ecef;
  transform: translateY(-2px);
}

body {
  background: linear-gradient(135deg, #f5f7fa, #e4ecf7);

}

.btn-primary, .btn-secondary, .btn-success {
  border: none !important;
  border-radius: 10px;
  padding: 0.5rem 1.25rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.btn-primary:hover, .btn-secondary:hover, .btn-success:hover {
  transform: translateY(-2px);
}

#background {
  background-color: #171f2751;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#header .nav-link {
  color: white;
  text-decoration: none;
}

#header .nav-link.active {
  text-decoration: underline;
}